.logo {
    &_main-box{
        padding: 27px 18px;
    }
}
.search{
    border-radius: 0 5px 5px 0;
    text-align: center;
    padding-right: 10px;
    line-height: 34px;

    &_menu {
        background-color: #2D4071;
    }

    &_info {
        background-color: #f5f8fa;
        color: black;
    }
}

.arrow {
    margin-right: 10px;
    position: relative;
    &_header{
        float: right;
        &_up{
            transform: rotate(180deg);
        }
    }
    &:hover {
        cursor: pointer;
    }
    &_up{
        transform: rotate(180deg);
    }
}

.icon {
    &_tools{
        margin-right: 10px;
    }
}
.radio {
    &_header{
        &:before {
            contain: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
              &:checked {
                background-color: green;
              }
        }
    }
}
.button{
    &_header {
        border: none;

        &:hover {
            cursor: pointer;
        }
        &_enabled{
            background-color: var(--bg-button-enabled);
            color: var(--color-button-enabled);
        }
        &_disabled {
            background-color: var(--bg-button-disabled);
            color: var(--color-button-disabled);
        }
    }
}
