.logo {
    &_main-box{
        padding: 10px 26px;
    }
}
.search_menu {
    border-radius: 0 5px 5px 0;
    background-color: #2D4071;
    text-align: center;
    padding-right: 10px;
    line-height: 34px;
}
.array {
    margin-right: 10px;
    position: relative;

    &:hover {
        cursor: pointer;
    }
    &_up{
        transform: rotate(180deg);
    }
}
